<li>
 
  <%= task.projectname %>
  <%= task.dtstart %>
  <%= task.dtstop %>
  <%= task.totaltime %>
  <%= task.description %>
  <%= task.customer_id %>
  <%= task.project_id %>
  <%= task.companyname %>

</li>