<div class="clearfix visible-xs"></div>
<li>
		<span class="span2">
			<%= task.companyname %>
		</span>
		<span class="span2">
			<%= task.projectname %>
		</span>
		<span class="span2">
			<%= task.description %>
		</span>
		<span class="span1">
			<%= task.user_id %>
		</span>
		<span class="span1">
			<%= task.totaltime.strftime("%H:%M") %>
		</span>
		<span class="span1">
			<%= task.dtstart %>
		</span>
		<span class="span1">
			<%= task.dtstop %>
		</span>
		  | <%= link_to "delete", task, method: :delete,
                                  data: { confirm: "You sure?" } %>
  | <%= link_to "edit", edit_taskdate_path(task.taskdate_id) %>
 </li>

<div class="clearfix visible-xs"></div>
<div class="border"></div>




