<%= render 'shared/error_messages', object: f.object %>

<div><%= hidden_field_tag :thedate, Date.today %></div>

<%= f.fields_for :tasks do |builder| %>
	<span class="span2">
	<%= builder.label :dtstart %>
	<%= builder.text_field :dtstart %>
</span>
<span class="span2">
	<%= builder.label :dtstop %>
	<%= builder.text_field :dtstop %>
</span>
<span class="span2">
	<%= builder.label :totaltime %>
	<%= builder.text_field :totaltime %>
	</span>
<span class="span2">
	<%= builder.label :project_id %>
	<%= builder.text_field :project_id %>
	</span>
<% end %>
