<div id="taskdates">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>

  <!--Fill in the calendar with tasks-->
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @taskdates_by_date[date] %>
      <ul>
        <% @taskdates_by_date[date].each do |taskdate| %>
          <li><%= link_to taskdate.thedate, taskdate %></li>
        <% end %>

        <!--This doesn't work, trying to add a link to add task on that date-->
        <% if @taskdates_by_date[date].blank? %>
        <li><%= link_to new_taskdate_path %></li>
        <% end %>
        <!--...-->
      </ul>
    <% end %>
  <% end %>
</div>
<h3> Your Tasks</h3>
<span class="span14"><b>
		<span class="span2">
			Company
		</span>
		<span class="span2">
			Project Name
		</span>
		<span class="span2">
			Description
		</span>
		<span class="span1">
			User
		</span>
		<span class="span1">
			Total Time
		</span>
		<span class="span1">
			Start Time
		</span>
		<span class="span1">
			Stop Time
		</span></b>
	</span>
<div>
	<%= render @tasks %>
</div>