<% provide(:title, "Edit Project") %>
<h1>Update a Project</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@project) do |f| %>
      <%= render 'shared/error_messages',object: f.object %>

      <%= f.label :name %>
	  <%= f.text_field :name %>

	  <%= f.label :customer_id %>
	  <%= f.text_field :customer_id %>

	  <%= f.label :description %>
      <%= f.text_field :description %>


      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>